
.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.login-container .login-box {
  background: #fff;
  padding: 0 40px;
  width: 500px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.login-container .login-box .login-header {
  margin: 40px 0;
}

.login-container .login-box .login-body form .form-group {
  position: relative;
  margin: 20px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-container .login-box .login-body form .form-group:focus-within {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.login-container .login-box .login-body form .form-group input {
  width: 100%;
  padding: 15px 20px;
  border: 0;
  border: 1px solid #c7c7c7;
  border-radius: 6px;
}

.login-container .login-box .login-body form .form-group input::-webkit-input-placeholder {
  color: transparent;
}

.login-container .login-box .login-body form .form-group input:-ms-input-placeholder {
  color: transparent;
}

.login-container .login-box .login-body form .form-group input::-ms-input-placeholder {
  color: transparent;
}

.login-container .login-box .login-body form .form-group input::placeholder {
  color: transparent;
}

.login-container .login-box .login-body form .form-group input:focus {
  outline: 0;
  border: 1px solid #f0d8b6;;
}

.login-container .login-box .login-body form .form-group input:focus + label {
  -webkit-transform: translateY(-20px) scale(0.85);
          transform: translateY(-20px) scale(0.85);
}

.login-container .login-box .login-body form .form-group input:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-20px) scale(0.85);
          transform: translateY(-20px) scale(0.85);
}

.login-container .login-box .login-body form .form-group input[type=submit] {
  background: #f0d8b6;;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-container .login-box .login-body form .form-group input[type=submit]:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #f0d8b6;;
}

.login-container .login-box .login-body form .form-group label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  padding: 5px 10px;
  margin: 5px 10px;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-container .login-box .login-footer {
  margin: 40px 0;
}

.login-container .login-box .login-footer p {
  text-align: center;
  font-size: 0.9em;
}

.login-container .login-box .login-footer p a {
  color: #f0d8b6;;
  text-decoration: none;
  font-weight: 600;
}

.login-container .login-box {
  margin-top: 114px;
  margin-bottom: 50px;
}

#logingtitle{
  text-align: center;
}

.login-container {
  background: rgba(248,249,250,255);
}

.singin{
  background: #f0d8b6;
  color: black;
  border: 0;
  text-transform: uppercase;
  transition: all 0.3s;
  border-radius: 6px;
}

.goolesinin{
  background: #f0d8b6;
    color: black;
    border: 0;
    text-transform: uppercase;
    transition: all 0.3s;
    border-radius: 6px;
    padding: 10px;
}



